@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 170vh;
    width: auto;
    background: linear-gradient(to bottom, #23323d, #041b65);
}



.container {
    display: flex;
    /* border: 2px solid white; */
    min-height: 150vh;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

.check {

    border: 2px solid white;
    background-color: aqua;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

.heading {
    border: 2px solid white;
    position: absolute;
    background-color: #190B28;
    color: #EE6C4D;
    width: 100%;
    height: 150px;
    font-size: 50px;
}

.head {
    position: absolute;
    left: 100px;
    top: 8px;
}
  

.pylogo {
    border: 2px solid white;
    
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 100px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.pylogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datascienceimage {
    border: 2px solid rgb(11, 251, 59);
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 200px;
    right: 0px;
    background-color: aliceblue;
}

.datascienceimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datascienceimage2 {
    border: 2px solid rgb(7, 238, 169);
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: 0px;
    background-color: #5F4BB6;
}

.datascienceimage2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datascienceimage3 {
    border: 2px solid rgb(65, 7, 238);
    width: 330px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: 601.5px;
    background-color: #E7EB90;
}

.datascienceimage3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ready {
    border: 2px solid rgb(238, 7, 7);
    width: 1200px;
    height: 220px;
    overflow: hidden;
    position: absolute;
    top: 830px;
    left: 150px;
    background-color: #FF6B6B;
}

.ready img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.start {
   
    width: 500px;
    height: 100px;
    font-size: 60px;
    font-family: inherit;
    overflow: hidden;
    position: absolute;
    top: 1120px;
    left: 460px;
    background-color: #271033;
    color: #FFFD77;
    cursor: pointer;
    border: 2px solid #FFFD77;
}

.start:hover {
    background-color: #FFFD77;
    color: #271033;
    border: 2px solid dodgerblue;
    transition: 1s;
}