@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/Vector_2640.jpg");
    background-repeat: repeat;
    background-size: cover; 
    height: 350vh;
    background-position: right;
}    







.container {
    display: flex;
    
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
    padding: 20px;
    font-size: 30px;
    /* background: linear-gradient(to right, #daef1d, #08a0ff); */
    background-color: #0e14288d;
    color: #D6D6B1;


}

.data {
    position: sticky;
    cursor: pointer;
    left: 90%;
    top: 1%;
    padding: 20px;
    font-size: 30px;
    font-family: inherit;
    background-color: #232c335d;
    color: white;
    border-radius: 5px;
    border: 2px solid dodgerblue;
}

.first {
    /*This is child of above container lets design it */

    height: auto;
    
    color: white;
    

    
}

.tools {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
    /* background: linear-gradient(to right, #daef1d6b, #08a0ff76); */
    
    /*Space between columns*/
    justify-content: space-between;
    
}

.fundamentals {
    background-color: #CC2936;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.intermediate {
    background-color: #0A0908;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.advanced {
    background-color: #613F75;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.fundamentaltools {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
    justify-content: space-around;
}

.feature1 {
    background-color: aqua;
}

