<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src = ../static/js/redirect.js></script>
</head>
<body>

    <div class="container">
        
    
    
        
            <h1 class="head">Phase 1: Data Processing</h1>
        
    </div>


    <div class="tools">
        <div class="fundamentals">
            <h1>Fundamentals</h1>
        </div>

        <div class="intermediate">
            <h1>Intermediate Tools</h1>
        </div>

        <div class="advanced">
            <h1>Advanced Features</h1>
        </div>
    </div>
    
    <div class="fundamentaltools">
        <div class="feature1">
            Check Shape
        </div>
    </div>
    
    


    <button class="data" onclick = "show_dataset()">
        Show Dataset
    </button>

    

</body>
</html>