<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src = ../static/js/redirect.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Phase1: Data Processing
            </h1>
        </div>

        

        <!--Adding python logo-->
        <div class="pylogo">
            <img src="../static/images/python(2).png" alt="python" class="python">
        </div>


        <!--Adding datascience image-->
        <div class="datascienceimage">
            <img src="../static/images/DataScience.webp" alt="datascience" class="datascience">
        </div>

        <!--Another image for data science -->
        <div class="datascienceimage2">
            <img src="../static/images/ss799kepucobh2bjge0s95dslo.png" alt="datascience" class="datascience">
        </div>

        <!--Another image -->
        <div class="datascienceimage3">
            <img src="../static/images/customer-service-call-centre-account-manager-business-agent-fcd72927a8d93d4f77d5b7128defd2c5.png" alt="datascience" class="datascience">
        </div>

        <!--Are you ready image -->
        <div class="ready">
            <img src="../static/images/teal-font-are-you-ready-9d506d55f7a2bc7645586aa90d52cbaf.png" alt="areyouready" class="areyouready">
        </div>


        <!--Button for checking dataset uploaded-->
        <!-- <div class="check">
            Show Dataset
            </div> -->

        </main>

        <hr>

        <button onclick = "show_dataset()" class = "start">
            Let's Start
        </button>

    
    
    

</body>
</html>