<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starter</title>
    <link rel="stylesheet" href="../static/css/main_1.css">
    <script src = ../static/js/redirect.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Phase1: Data Processing
            </h1>
        </div>
        
        
        <!--Adding python logo-->
        <div class="pylogo">
            <img src="../static/images/python(2).png" alt="python" class="python">
        </div>


        <!--Button for checking dataset uploaded-->
        <div class="forbutton">
            <button onclick = "show_dataset()" class = "start">
                Check Dataset
            </button>    
        </div>

        <div class="basics">
            <h2 class="basichead">
                Fundamentals 
            </h2>
        
        <div class="shape">
            <button onclick = "checkshape()">
                Check Shape
            </button>

            <h3 class="shapereturn">
                {{shape}}
            </h3>
        </div>    

        <!--Div for checking column names -->
        <div class="miss_values">
            <button onclick = "check_misses()">
                Check missing_values
            </button>

            <h3>
                {{missing_values}}
            </h3>
        </div>  
            
        </div>
        
        </main>
        
        
</body>
</html>